.footer{
    background-color: #fff;
}

.txt-left-footer{
    padding-top: 9px;
    padding-bottom: 9px;
}

.logoWamFooter{
    height: 32px;
    width: auto;
}

@media screen and (min-width: 768px){

}

