<div class="container-fluid">
  <!-- Header Component -->
  <app-header (sidenav)="drawer.toggle()"></app-header>
  
  <!-- SideNav Component -->
  <mat-drawer #drawer class="sidenav" mode="side" position="start" disableClose="false">
    <mat-toolbar>
      <button mat-icon-button class="ml-auto" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-list role="list">
      <mat-list-item>
        <mat-icon class="mx-1">help</mat-icon>
        <mat-label class="mx-1">AYUDA</mat-label>
      </mat-list-item>

      <mat-list-item>
        <mat-icon class="mx-1">account_circle</mat-icon>
        <mat-label class="mx-1">SIG IN</mat-label>
      </mat-list-item>

      <mat-list-item class="h-auto">
        <mat-expansion-panel class="panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{option}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-list role="list" class="p-0">
            <mat-list-item (click)="closePanel('Castellano')">Castellano</mat-list-item>
            <mat-list-item (click)="closePanel('Ingles')">Ingles</mat-list-item>
            <mat-list-item (click)="closePanel('Frances')">Frances</mat-list-item>
          </mat-list>
        </mat-expansion-panel>

      </mat-list-item>

    </mat-list>
  </mat-drawer>

  <mat-drawer-container class="sidenav-container" autosize>
    <router-outlet></router-outlet>
  </mat-drawer-container>

  <!-- Footer Component -->
  <app-footer></app-footer>
</div>